<section id="about-section"></section>
    <section class="about-us">
      <h2>About Us</h2>
      <div class="container">
        <div class="map">
          <app-googlemap ></app-googlemap>
        </div>
        <p class="text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab, illo commodi unde modi dignissimos placeat impedit corrupti harum eligendi optio, minima vel magni, amet ducimus accusantium totam fugiat praesentium sit.
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem ducimus laborum repellendus sit ea labore incidunt nisi at quae quibusdam pariatur amet veritatis corporis distinctio sunt accusamus ad, molestiae possimus?
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque tempora dignissimos alias rem minus veritatis quia, explicabo repudiandae magni cupiditate odio molestiae autem distinctio modi velit. Unde blanditiis neque nihil.
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae iure corporis praesentium eius laborum necessitatibus nostrum ad omnis voluptate nisi. Nesciunt quam ex molestias amet, nam ullam iure quidem? Asperiores.
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia cum possimus optio sunt, repellat pariatur, neque dolore voluptatum consectetur aspernatur dicta beatae quae libero ipsam inventore tempora earum illo. At!
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque laboriosam asperiores enim ut omnis quis nam possimus rerum cupiditate error, suscipit ab quaerat rem quo saepe quisquam alias culpa! Quas.
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut ducimus provident exercitationem accusamus accusantium mollitia! Ullam perferendis, dolorum rerum ipsum, veniam ipsam sunt similique doloribus alias tenetur ex sed excepturi.
        </p>
        
        <div class="team">
          <h3>Meet Our Team</h3>
          <ul>
            <li>
              <img src="https://via.placeholder.com/150" alt="#">
              <h4>Name Surname</h4>
              <p>CEO</p>
            </li>
            <li>
              <img src="https://via.placeholder.com/150" alt="#">
              <h4>Name Surname</h4>
              <p>COO</p>
            </li>
            <li>
              <img src="https://via.placeholder.com/150" alt="#">
              <h4>Name Surname</h4>
              <p>CFO</p>
            </li>
          </ul>
        </div>
      </div>
    </section>
